%p#notice= notice

%h1= @trip.name
- if @trip.members.length == 0
  %table{:border => "1"}
    %tbody
      %tr
        %th Name
        %th Total Expenses 
      %tr
        - if @trip.members.length == 0
          - @trip.members.each do |m|
            %td= link_to m.name, edit_member_path(@trip)
            %td $99.00
    %tr
- else
  %p Find some friends for this trip!
%br
%br

%table
  %tbody
    %tr
      %th Total Trip Expenses
      %th Expense amount per person
    %tr
      %td TODO:99.99
      %td TODO: 5.00 per person
= link_to 'Change name of this trip', edit_trip_path(@trip)
\|
= link_to 'Back To List of Trips', trips_path
%br
%br
= link_to 'Add a member to this trip.', controller: 'members', action: 'new_by_id', id: @trip.id 
