<%= form_for(@trip_member) do |f| %>
  <% if @trip_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_member.errors.count, "error") %> prohibited this trip_member from being saved:</h2>

      <ul>
      <% @trip_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :trip_id %><br>
    <%= f.text_field :trip_id %>
  </div>
  <div class="field">
    <%= f.label :expenses %><br>
    <%= f.text_field :expenses %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
