%p#notice= notice

%p
  %b Amount:
  = @expense.amount
%p
  %b Comment:
  = @expense.comment
%p
  %b Member:
  = @expense.member_id

= link_to 'Edit', edit_expense_path(@expense)
\|
= link_to 'Back', expenses_path
