<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @member.trip_id %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @member.expense %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member.description %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
